{% extends 'base-back.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <h1 align="center">Les Commandes</h1>
    <table class="table">
        <thead>
        <tr>

            <td >Nom</td>
            <td>Prenom</td>
            <td>Email</td>
            <td>Numerotelephone</td>
            <td>Adresse</td>
            <td>produit</td>
            <td>total</td>
            <td>delete</td>
            <td>modify</td>
        </tr>
        </thead>
        <tbody>
        {% for command in commandes %}
            <tr>


                <td>{{ command.nom}}</td>
                <td>{{ command.prenom }}</td>
                <td>{{ command.email }}</td>

                <td>{{ command.numtelephone }}</td>
                <td>{{ command.adresse }}</td>
                <td>
                    {% set foo = '' %}
                    {% for p in command.listP %}
                        {{   p.name ~ ':' ~ command.Quantite[loop.index-1]  ~ foo ~'/' }}
                    {% endfor %}

                </td>
                <td>{{ command.totalCost }}</td>

                <td>
                    {{ include('commande/_delete_form.html.twig') }}



                </td>
                <td>
                    <a href="{{ path('modifiercommandeback',{'id':command.id}) }}" class="btn btn-warning">update</a>



                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block footer %}
{% endblock %}