{% block body %}
    {{ include('commande/_form.html.twig') }}
    <section class="bg p-4">
        <h3 align="center p-">Votre Panier</h3>
    </section>
    <table class="table">
        <thead>
        <tr>
            <th>equipement</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for element in panierwithData %}
            <tr>
                <td>{{ element.product.name }}</td>
                <td class="text-end">{{ element.product.prix }} €</td>
                <td>{{ element.quantity }}</td>
                <td class="text-end">{{ element.quantity * element.product.prix }} €</td>
                <td>
                    <a href="{{path("panier_add", {id: element.product.id})}}" class="btn btn-success">
                        +  <i class="bi bi-cart-plus"></i>
                    </a>
                    <a href="{{path("remove", {id: element.product.id})}}" class="btn btn-warning">
                        -  <i class="bi bi-cart-dash"></i>
                    </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Votre panier est vide</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td class="text-end">{{ total }} €</td>
            <td>
                <a href="#" class="btn btn-danger">
                    Tout supprimer <i class="bi bi-cart-x"></i>
                </a>
            </td>
        </tr>
        <td>
            <a href="#" class="btn btn-warning">
                POURSUIVRE VOS ACHATS<i class="bi bi-cart-x"></i>
            </a>
        </td>
        <td>
            <a  href="{{path('commande_new')}}" class="btn btn-success">
                FINALISER VOTRE COMMANDE<i class="bi bi-cart-x"></i>
            </a>
        </td>

        </tfoot>
    </table>
{% endblock %}
{% block footer %}
{% endblock %}



