{% extends 'base-front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="product_text">Nos  <span style="color: #5ca0e9;">Equipements</span></div>

        <div class="product_section_1" >
            <div class="row" >
                <div class="col-md-2">
                    <div class="image_2"><img src="{{ asset('front-office/images/pcgamer.jpg') }}" ></div>
                    <br>
                    <h2 class="game_text"><a href="{{ path('listProduct_pcgamer') }}">Pc gamer</a></h2>

                </div>
                <div class="col-md-5">
                    <div class="image_2"><img src="{{ asset('front-office/images/ps5.jpg') }}" ></div>

                    <h2 class="game_text"><a href="{{ path('listProduct_console') }}">Console</a></h2>
                </div>
                <div class="col-md-5">
                    <div class="image_2"><img src="{{ asset('front-office/images/acc.png') }}" ></div>
                    <h2 class="game_text"><a href="{{ path('listProduct_accessoire') }}">Accessoire</a></h2>

                </div>
            </div>
        </div>
        <div class="see_main">

        </div>
    </div>

<br><br> <br><br>









<div class="example-wrapper">






{% endblock %}
