{% extends 'base-front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Header-->

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for i in tabclass %}
                    <div class="col mb-3">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset ('uploads/' ~ i.image ) }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h3 class="fw-bolder">{{ i.name }}</h3>
                                    <h7 class="fw-bolder">Description :</h7><br>
                                    <h8 class="fw-bolder">{{ i.description }}</h8>

                                    <!-- Product price-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('listequipement_2',{'id':i.id}) }}">{{ i.name }}</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}




            </div>
        </div>
    </section>
    <br><br> <br><br>





    <script type="text/javascript">
        var vsid = "kc238930728f295";
        (function() {
            var vsjs = document.createElement('script'); vsjs.type = 'text/javascript'; vsjs.async = true; vsjs.setAttribute('defer', 'defer');
            vsjs.src = 'https://www.leadchatbot.com/vsa/chat.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vsjs, s);
        })();
    </script>







{% endblock %}
