{% extends 'base-back.html.twig' %}



{% block title %}Les equipement Disponisble{% endblock %}

{% block body %}

    <div class="container">
    <div class="product_section_2" >

    <div class="row" >
        <div class="col-md-4">
            {{ form_start(formproduit,{'attr':{'novalidate':'novalidate'}}) }}
            {{ form_start(formproduit) }}

            <table>
                <tr>
                    <td>{{ form_label(formproduit.name,"Nom de l'equipement") }}</td>
                    <td>{{ form_widget(formproduit.name) }}</td>
                    <td>{{ form_errors(formproduit.name) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formproduit.description,"Description ") }}</td>
                    <td>{{ form_widget(formproduit.description) }}</td>
                    <td>{{ form_errors(formproduit.description) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formproduit.categorie,"Categorie") }}</td>
                    <td>{{ form_widget(formproduit.categorie) }}</td>
                    <td>{{ form_errors(formproduit.categorie) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formproduit.image,"Inserer un image") }}</td>
                    <td>{{ form_widget(formproduit.image) }}</td>
                    <td>{{ form_errors(formproduit.image) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formproduit.marque,"marque ") }}</td>
                    <td>{{ form_widget(formproduit.marque) }}</td>
                    <td>{{ form_errors(formproduit.marque) }}</td>
                </tr>


            </table>
            {{ form_end(formproduit) }}
        </div>
    </div>
    </div>
    </div>
    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>






{% endblock %}