{% extends 'base-front.html.twig' %}

{% block title %}Hello ActualitesfrontController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div align="center">
    <a class=btn btn-primary dropdown-toggle data-toggle=dropdown href=#>Sélectionnez Catégorie :<span class=caret></span></a>
    <ul class=dropdown-menu>
    {% for i in categories %}
        <li><a href="{{ path ('listactualitesf1',{'id':i.id}) }}">{{ i.sujet }}</a></li>
    {% endfor %}
    </ul>
    </div>
    <div class="product_section layout_padding">
        <div class="container">
            <div class="product_text">Notre <span style="color: #5ca0e9;">Actualités</span></div>
            <div class="product_section_2">
                <div class="row">
                    {% for i in actualite %}
                    <div class="col-md-6">

                        <div class="price_text" >{{ i.nom }}</div>
                        <div class="image_2" align="center"><img height="1200" width ="1200"  src="{{ i.image }}"></div>
                        <p class="long_text">{{ i.Description }}</p>
                     <a href="{{ path('listaffiche',{'id':i.id}) }} " <button type="button" class="btn btn-primary">Afficher</button></a>

                </div>

                {% endfor %}
                </div>
            </div>
            <div align="center">
            <td>  <a href="{{ path('listactualitesf') }} " <button type="button" class="btn btn-primary">All</button></a></td>
            </div>
        </div>
    </div>

{% endblock %}
